section{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container-politica{

    display: flex;
    align-items: center;
    width: 700px;
    aspect-ratio: 16/4;
    border-bottom: 2px solid #ffdb8d;
    text-decoration: none;
}
.img-politica{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 10px;
}
.text-politica{
    text-align: start;
    color: white;
    text-decoration: none;
    font-size: 18px;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.text-politica:hover{
    text-decoration: underline;
}